.media-cards {
    &:after {
        display: block;
        clear: both;
        content: "";
    }
} 

.media-card {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;

    &:after {
        display: block;
        clear: both;
        content: "";
    }

    @include for-size(m-devices) {
        width: 33.33%;
    }

    @include for-size(mobile) {
        width: 100%;;
    }
}

.media-card__title {
    margin-top: 2.5rem;
}

.media-card__desc {
    margin-bottom: 2.5rem;
}

@supports (display: flex) {
    .media-cards {
        display: flex;
        flex-wrap: wrap;
    }
}
