.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    color: $color-text-on-bg;
    background-color: $bg-color-dark;
}

// eliminar despues del icon

.nav__link {
    color: $color-text-on-bg;
}

.nav__logo {
    display: inline-block;
    margin: 1rem 0;

    .fas, .fa-solid {
        font-size: 6rem;

        @include for-size(small-devices) {
            font-size: 4rem;
        }
    }
}

.nav__menu {
    display: flex;
    float: right;

    &:after {
        display: block;
        clear: both;
        content: "";
    }
} 

header .nav__menu {
    margin-left: auto;
}

.nav__menu-item {
    display: table-cell;
    font-size: 2.5rem;
    text-transform: uppercase;
    vertical-align: middle;
    @include for-size(small-devices) {
        font-size: 2rem;
    }
}

.nav__menu .nav__link {
    display: inline-block;
    height: 8rem;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: transparent;
    transition: background-color .2s ease, color .2s ease;
    &:hover {
        color: $color-text;
        background-color: $color-secondary;
    }
    > span {
        display: block;
        flex: 1;
    }

    @include for-size(small-devices) {
        height: 6.08rem;
        padding-top: 1.5rem;
    }
} 

.nav--footer {
    display: table-cell;
    width: 100vw;

    .nav__logo {
        float: left;

        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }

    .nav__menu:first-of-type {
        position: relative;
        left: calc(50% - 6rem);
        float: left;
        transform: translateX(-50%);
    }

    @include for-size(small-devices) {

        .nav__logo {
            float: left;
    
            &:after {
                display: block;
                clear: both;
                content: "";
            }
        }

        .nav__menu-item {
            font-size: 1.7rem;
        }
    
        .nav__menu:first-of-type {
            .nav__link {
                padding-right: .5rem;
                padding-left: .5rem;
            }
        }
    }

    @include for-size(mobile) {
        .nav__menu-item {
            font-size: 1.5rem;
        }

        .nav__menu:first-of-type {
            left: 0;

            padding-left: 10px;
            transform: translateX(0);
        }
    }
}

@supports (display: flex) {
    .nav__menu-item {
        display: flex;
    }

    .nav__menu .nav__link {
        display: flex;
        flex: 1;
        align-items: center;
        height: auto;
        padding-top: 0;
    }

    .nav--footer {
        display: flex;

        .nav__menu:first-of-type {
            left: 0;
            transform: translateX(0);
        }
    }
}


/*------------------------------------*\
   #NAVIGATION HOME
\*------------------------------------*/

@supports (display: grid) {
    .layout-home .nav {
        background-color: transparent;
    }
}

/*-----------------------------------------------*\
   #LINKS NAVIGATION HOME AND SOCIAL ICONS FOOTER
\*-----------------------------------------------*/


.layout-home .nav__menu .nav__link,
.nav--footer .nav__menu:last-child .nav__link {
    height: auto;
    transition: color .2s ease;
    &:hover {
        color: $color-secondary;
        background-color: transparent;
    }
}