.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.nav:not(.layout-home .nav) {
    color: $color-text-on-bg;
    background-color: $bg-color-dark;
}

.nav__logo {
    margin: 1rem 0;
    .fas, .fa-solid {
        font-size: 6rem;
    }
}

.nav__menu {
    display: flex;
} 

.nav__menu:not(.nav--footer .nav__menu) {
    margin-left: auto;
}

.nav__menu-item {
    display: flex;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.nav__link {
    color: $color-text-on-bg;
}

.nav__link:not(.nav__link--home) {
    display: flex;
    flex: 1;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    > span {
        display: block;
        flex: 1;
    }
}

/*------------------------------------*\
   #NAVIGATION HOME
\*------------------------------------*/


.nav__link:not(.nav__link--home, .layout-home .nav__link) {
    color: $color-text-on-bg;
    background-color: transparent;
    transition: background-color .2s ease, color .2s ease;
    &:hover {
        color: $color-text;
        background-color: $color-secondary;
    }
}

.layout-home .nav__link:not(.nav__link--home) {
    transition: color .2s ease;
    &:hover {
        color: $color-primary;
    }
}
