.page-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    overflow: hidden;
  
    @include for-size(tablet) {
      height: 45rem;
    }

    @include for-size(m-devices) {
      height: 55rem;
    }
  
    @include for-size(desktop) {
      height: 60rem;
    }

    @include for-size(big-devices) {
      height: 70rem;
    }
    
    @include for-size(small-devices) {
      height: 30rem;
    }

    @include for-size(mobile) {
      height: 24rem;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content:"";
        background-color: rgba(0,0,0,.3);
        // background-color: rgba($color-primary, .3); set color page-title
    }
}


.page-title__img {
    object-fit: cover;
    width: 100%;
    
    img {
      width: 100%;
      max-width: none;
    }
}

.page-title__title {
    position: absolute;
    z-index: 100;
    width: 100%;

    h1 {
      color: $color-text-on-bg;
    }
}