.poster {
    position: relative;
    width: 100%;
    color: $color-text-on-bg;
    text-transform: uppercase;
    background-color: $bg-color-dark;
}

.poster__title {
    margin: 0;
    font-size: calc(3rem + 10vw);
    color: $color-primary;
    text-align: center;
}

.poster__subtitle, .poster__desc, .poster__link, .poster__date  {
    display: table-cell;
    padding: 2rem;
    vertical-align: middle;
    border: 1px solid #fff;

    @include for-size(small-devices) {
        display: inline-block;
    }
}

.poster__subtitle, .poster__link, .poster__date  {
    font-family: $font-family-uppercase;
}

.poster__subtitle {
    width: 25vw;
    font-size: 3rem;
    @include for-size(small-devices) {
        width: calc(40vw - 2px);
    }
    @include for-size(mobile) {
        font-size: 2rem;
    }
}

.poster__desc {
    width: 40vw;
    text-transform: none;
    @include for-size(small-devices) {
        width: calc(60vw - 2px);
    }
}

.poster__date {
    width: 20vw;
}

.poster__link {
    width: 15vw;

    >a {
        color: $color-text-on-bg;
        transition: color .2s ease;
        &:hover {
            color: $color-text;
        }
    }
}

.poster__subtitle, .poster__desc {
    min-height: 220px;
}

.poster__link, .poster__date  {
    @include for-size(small-devices) {
        width: calc(50vw - 2px);
        height: 80px;
        margin-top: .2rem;
    }
}

.poster__img {
    img {
        display: block;
        margin: 0 auto;
    }
}

.poster__square {
    display: none;
}

@supports (display: grid) {
    .poster {
        display: grid;
        grid-template-rows: repeat(5, minmax(10rem, 10vw)) minmax(15rem, 1fr) minmax(30vh, 1fr) minmax(10rem, 1fr) 8rem;
        grid-template-columns: repeat(2, minmax(10rem, 10vw)) minmax(auto, 1fr) repeat(4, minmax(10rem, 10vw)); 
        background-color: transparent;

        @include for-size(desktop) {
            grid-template-rows: repeat(5, minmax(10rem, 10vw)) minmax(15rem, 1fr) minmax(auto, 1fr) minmax(10rem, 1fr) 8rem;
            grid-template-columns: repeat(2, minmax(10rem, 10vw)) minmax(40vw, 1fr) repeat(4, minmax(10rem, 10vw)); 
        }

        @include for-size(big-devices) {
            grid-template-rows: repeat(5, minmax(10rem, 7vw)) minmax(15rem, 1fr) minmax(auto, 1fr) minmax(10rem, 1fr) 8rem;
            grid-template-columns: repeat(2, minmax(10rem, 7vw)) minmax(40vw, 1fr) repeat(4, minmax(10rem, 7vw)); 
        }

        @include for-size(small-devices) {
            grid-template-rows: 8rem 50vh minmax(20vh, 1fr) 8rem;
            grid-template-columns: minmax(10rem, 10vw) 1fr 1fr; 
        }

    }

    .poster__title {
        grid-row: 2 / 4;
        grid-column: 1 / -1;

        @include for-size(small-devices) {
            grid-row: 1 / 2;
            font-size: calc(3rem + 5vw);
        }
    }

    .poster__title, .poster__subtitle, .poster__desc, .poster__link, .poster__date {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .poster__subtitle, .poster__desc, .poster__link, .poster__date {
        width: auto;
        min-height: 0;
        background-color: $bg-color-dark;
        border: none;

        @include for-size(small-devices) {
            border: 1px solid $bg-color-white;
        }
    }

    .poster__subtitle {
        grid-row: 5 / 7;
        grid-column: 1 / 2;
        padding: 0;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);

        @include for-size(small-devices) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }
    }

    .poster__desc {
        grid-row: 6 / 8;
        grid-column: -3 / -1;
        
        @include for-size(small-devices) {
            grid-row: 3 / 4;
            grid-column: 2 / -1;
        }
    }
    
    .poster__date {
        grid-row: 5 / 6;
        grid-column: -2 ;
        color: $color-text;
        background-color: $bg-color-white;

        @include for-size(small-devices) {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
        }
    }

    .poster__link {
        position: relative;
        z-index: 1;
        grid-row: -3;
        grid-column: -4;
        padding: 0;
        background-color: $bg-color-dark;

        >a {
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        &:before {
            position: absolute;
            top: -1px;
            right: 0;
            bottom: 0;
            left: 0;
            width: 0;
            height: 100%;
            content: "";
            background-color: $color-secondary;
            transition: width .2s ease;
        }
        
        &:hover {
            >a {
                color: $color-text;
            }

            &:before {
                width: 100%;
            }
        }
        
        @include for-size(small-devices) {
            grid-row: 4 / 5;
            grid-column: 3 / -1;
        }
    }

    .poster__img {
        position: absolute;
        z-index: -1;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
    
        img {
            width: 100vw;
            max-width: none;
            min-height: 100%;
            object-fit: cover;
            
        }

        @include for-size(small-devices) {
            position: static;
            grid-row: 1 / 3;  
        }
    }

    .poster__square {
        position: relative;
        z-index: -1;
        display: block;
        background-color: $bg-color-white;

        @include for-size(small-devices) {
            display: none;
        }
    }

    .poster__square--1 { grid-row: 2 / 3; grid-column: 1 / 2; }
    .poster__square--2 { grid-row: 3 / 4; grid-column: 2 / 3; }
    .poster__square--3 { grid-row: 3 / 4; grid-column: -4;  }
    .poster__square--4 { grid-row: 3 / 4; grid-column: -2; }
    .poster__square--5 { grid-row: 4 / 5; grid-column: -3; }
}
