<footer>
    <!-- &copy; Universitat Oberta de Catalunya -->
    <div class="nav nav--footer">
        <div class="nav__logo"><a class="nav__link nav__link--home" href="index.html"><i class="fa-solid fa-shield-cat"></i></a></div>
        <ul class="nav__menu">
            <li class="nav__menu-item"><a class="nav__link" href="index.html"><span>Home</span></a></li>
            <li class="nav__menu-item"><a class="nav__link" href="members.html"><span>Club</span></a></li>
            <li class="nav__menu-item"><a class="nav__link" href="article.html"><span>Blog</span></a></li>
            <li class="nav__menu-item"><a class="nav__link" href="courses.html"><span>Cursos</span></a></li>
        </ul>
        <ul class="nav__menu">
            <li class="nav__menu-item"><a class="nav__link" href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
            <li class="nav__menu-item"><a class="nav__link" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="nav__menu-item"><a class="nav__link" href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </div>
</footer>