<script type="module" locals>
    module.exports = {
        groups: [

            [
                'pawn',
                'Básico',
                'Primera aproximación al mundo del ajedrez, para los más pequeños: formas, colores, números y valores.',
            ],
            [
                'rook',
                'Medio',
                'Principiantes, conocimientos básicos para aprender a jugar tus primeras partidas. ¡Empieza la diversión!',
            ],
            [
                'knight',
                'Avanzado',
                'Jugadores intermedios. Un paso más en el conocimiento del ajedrez: apertura, medio juego, estrategia, táctica, final.',
            ],
            [
                'queen',
                'Experto',
                'Conceptos avanzados, principalmente enfocados al ajedrez de competición, y con los mejores profesores.',
            ]
            
        ]
    }
</script>

<each loop="item in groups">

    <div class="col-12 col-sm-6 col-lg-3 text-center mb-3 box">
        <div>
            <span class="box__icon"><i class="fa-solid fa-chess-{{ item[0] }}"></i></span>
        </div>
        <div>
            <h3>{{ item[1] }}</h3>
            <p>{{ item[2] }}</p>
        </div>
    </div>

</each>