<header>
    <div class="nav">
        <div class="nav__logo"><a class="nav__link nav__link--home" href="index.html"><i class="fa-solid fa-shield-cat"></i></a></div>
        <ul class="nav__menu">
            <li class="nav__menu-item"><a class="nav__link" href="members.html"><span>Club</span></a></li>
            <li class="nav__menu-item"><a class="nav__link" href="article.html"><span>Torneo</span></a></li>
            <li class="nav__menu-item"><a class="nav__link" href="courses.html"><span>Cursos</span></a></li>
        </ul>
    </div>
</header>