<table class="table">
    <caption class="caption-top">Lunes / Miercoles / Viernes</caption>
    <thead class="table-dark">
        <tr>
            <th scope="col">Horarios</th>
            <th scope="col">AULA 1</th>
            <th scope="col">AULA 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>11:00 - 12:00</td>
            <td>Iniciación</td>
            <td>Básico</td>
        </tr>
        <tr>
            <td>12:00 - 13:00</td>
            <td>Básico</td>
            <td>Iniciación</td>
        </tr>
        <tr>
            <td>17:00 - 18:00</td>
            <td>Avanzado</td>
            <td>Experto</td>
        </tr>
        <tr>
            <td>18:00 - 19:00</td>
            <td>Experto</td>
            <td>Avanzado</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <caption class="caption-top">Martes / Jueves</caption>
    <thead class="table-dark">
        <tr>
            <th scope="col">Horarios</th>
            <th scope="col">AULA 1</th>
            <th scope="col">AULA 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>17:00 - 18:00</td>
            <td>Básico</td>
            <td>Experto</td>
        </tr>
        <tr>
            <td>18:00 - 19:00</td>
            <td>Iniciación</td>
            <td>Avanzado</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <caption class="caption-top">Sábados</caption>
    <thead class="table-dark">
        <tr>
            <th scope="col">Horarios</th>
            <th scope="col">AULA 1</th>
            <th scope="col">AULA 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>11:00 - 12:00</td>
            <td>Iniciación</td>
            <td>Avanzado</td>
        </tr>
        <tr>
            <td>12:00 - 13:00</td>
            <td>Básico</td>
            <td>Experto</td>
        </tr>
    </tbody>
</table>