@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Magnetic Pro", serif;

$color-primary: #06a5ab;
$color-secondary: #d1df19;
$color-text: #333;
$color-text-on-bg: #eee;

$links-bg: color.scale($color-secondary, $lightness: 50%);
$mqMinWidth: 420px;
