@use "sass:color";

/*------------------------------------*\
   #FONTS
\*------------------------------------*/

// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//   "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//   "Segoe UI Symbol";
$font-family-serif: "Coustard", serif;
$font-family-uppercase: "Mohave", sans-serif;
$font-family-sans-serif: "Encode Sans Semi Condensed", sans-serif;

/*------------------------------------*\
   #COLORS
\*------------------------------------*/

$color-primary: #06a5ab;
$color-secondary: #d1df19;
$color-text: #333;
$color-text-on-bg: #eee;
$color-links: color.scale($color-secondary, $lightness: 50%);

$bg-color-dark: #000;
$bg-color-white: #fff;


/*------------------------------------*\
   #BREAKPOINTS
\*------------------------------------*/

$mq-xs: 450px;
$mq-s: 767.89px;
$mq-m: 991px;
$mq-lg: 1200px;
$mq-xl: 1800px;
