@use "sass:color";

/*------------------------------------*\
   #FONTS
\*------------------------------------*/

$font-family-serif: "Coustard", serif;
$font-family-uppercase: "Mohave", sans-serif;
$font-family-sans-serif: "Encode Sans Semi Condensed", sans-serif;


/*------------------------------------*\
   #COLORS
\*------------------------------------*/

$color-primary: #06a5ab;
$color-secondary: #d1df19;
$color-text: #333;
$color-text-on-bg: #eee;
$color-links: color.scale($color-secondary, $lightness: 50%);

$bg-color-dark: #000;
$bg-color-white: #fff;

$bg-color: color.adjust($color-secondary, $lightness: 40%); 
$bg-color-primary: color.adjust($color-primary, $blackness: 40%, $alpha: -0.4); 


/*------------------------------------*\
   #BREAKPOINTS
\*------------------------------------*/

$mq-xs: 500px;
$mq-s: 767.89px;
$mq-m: 991px;
$mq-lg: 1200px;
$mq-xl: 1800px;


/*------------------------------------*\
   #BOOPSTRAP
\*------------------------------------*/

/* theme colors */

$theme-colors: (
   'primary': $color-primary,
   'secondary': $color-secondary
);

$theme-colors: map-merge($theme-colors, $theme-colors);

/* font-size base */

$font-size-base: 1.6rem;

/* distance base */

$spacer: 3rem;
 
/* buttons */

$btn-border-width: 2px;
$btn-border-radius: 0;

/* input form component */

$input-border-radius: 0;
$input-focus-bg: transparent;
$input-focus-border-color: none;
$input-focus-box-shadow: none;

/* select form component */

$form-select-focus-border-color: none;
$form-select-focus-box-shadow: none;
$form-select-bg-size: 20px 16px;
$form-select-indicator-color: $color-primary;

/* check form component */

$form-check-input-width: 1.6em;
$form-check-input-border-radius: 0;
$form-check-input-focus-border: none;
$form-check-input-focus-box-shadow: none;

/* accordion component */

$accordion-color: $color-text;
$accordion-bg: $bg-color-white;
$accordion-button-color: $color-text-on-bg;
$accordion-button-bg: $bg-color-dark;
$accordion-button-active-bg: $color-secondary;
$accordion-button-active-color: $color-text;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: $color-text-on-bg;
$accordion-border-radius: 0;
$accordion-icon-width: 1.6rem;

/* cards component */

$card-cap-bg: $bg-color-dark;
$card-cap-color: $color-text-on-bg;
$card-border-color: $bg-color-dark;
$card-border-radius: 0;


/* https://github.com/twbs/bootstrap/blob/v5.3.0-alpha3/scss/_variables.scss */


/*------------------------------------*\
   #LIST FONTAWESOME
\*------------------------------------*/

:root {
   --fa-li-margin: 2rem;
   --fa-li-width: 3rem;
}


