* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1;
}

h1 {
    margin-bottom: 5rem;

    @include for-size(small-devices) {
        margin-bottom: 2.5rem;
    }
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
