* {
    box-sizing: border-box;
}

/*------------------------------------*\
   #STRUCTURE
\*------------------------------------*/

section {
    margin: 6rem 0;
    @include for-size(small-devices) {
        margin: 4rem 0;
    }
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.container-wrap {
    padding: 0 20px;
}


/*------------------------------------*\
    #STRUCTURE HOME
\*------------------------------------*/

body {
    position: relative;
}

@supports (display: grid) {

    @include for-size(tablet) {
        .layout-home {
            position: relative;
            display: grid;
            grid-template-rows: 80px 1fr 80px;
            min-height: 100vh;
        
            .wrapper {
                position: absolute;
                grid-row: 1 / 4;
            }
        
            footer {
                grid-row: 3 / 4;
            }
        
            header, footer {
                position: relative;
                z-index: 100;
            }
        
            .wrapper, .poster, .poster__img {
                min-width: 100%;
                height: 100%;
            }
        }
    }

    @include for-size(small-devices) {
        .layout-home {
        
            header, footer {
                background-color: $bg-color-dark;
            }
        }
    }
}




  
  
/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
  
.footer {
    padding: 40px 0;
    text-align: center;
}
  

