
:root {
    --color-primary: #06a5ab;
    --color-secondary: #d1df19;
}

a:hover {
    --bs-link-hover-color: var(--color-primary);
}

.blockquote {
    font-size: 2.2rem;
}

.blockquote-footer {
    margin-top: -1.6rem;
}

.btn {
    --bs-btn-font-size: 1.6rem;
    --bs-btn-font-weight: 500;
    --bs-btn-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-disabled-opacity: .75;
    --bs-btn-focus-box-shadow: none;
    --bs-btn-border-radius: 0;
    --bs-card-cap-padding-y: 1rem;
    --bs-card-cap-padding-x: 1.6rem;
}

.btn-link {
    text-decoration: none;
}

.card {
    border: none;
    border-radius: none;
}

.card-header {
    --bs-card-border-color: transparent;
    --bs-card-cap-color: transparent;
    --bs-card-cap-bg: transparent;
    padding: 0;

    &:first-child {
        border-radius: 0;
    }

    .btn {
        display: block;
        width: 100%;
        height: 100%;
        padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
        text-align: left;
        border: none;
    }

    .btn-link {
        --bs-link-color: #fff;
        --bs-btn-bg: #000;
        --bs-link-hover-color: var(--color-secondary);
        --bs-btn-hover-bg: #000;

        &[aria-expanded=true] {
            --bs-link-color: #000;
            --bs-btn-bg: var(--color-secondary);
            --bs-link-hover-color: #000;
            --bs-btn-hover-bg: var(--color-secondary);
        }
    }

}

.fa-li {
    line-height: 1.2;
}
