/*------------------------------------*\
   #FONTAWESOME
\*------------------------------------*/

.fa-li {
    line-height: 1.2;
}

/*------------------------------------*\
   #BOOPSTRAP
\*------------------------------------*/

.blockquote {
    font-size: 2.2rem;
}

.blockquote-footer {
    margin-top: -1.6rem;
}

.input-group-text {
    color: $color-text-on-bg;
    background-color: $bg-color-dark;
    border: none;
}

.form .btn {
    width: 100%;
}